<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    @include("partials/email")
  </head>
  <body>
    <div class="mail">
      <img src="https://i.ibb.co/Qvs67Gd/facebook.png" alt="Facebook" class="logo" />

      <p>Bem-vindo ao Facebook!</p>

      <p>Caso não tenha pedido para mudar sua senha, apenas ignore este e-mail.</p>

      <a href="{{ link }}" target="_blank" class="button">Mudar minha senha</a>
    </div>
  </body>
</html>